<div class="home">
  <div class="home-container">
    <h1 class="home-container__title">Marvel's Heroes</h1>
    <p class="home-container__text">
      The Marvel Cinematic Universe (MCU) is an American media franchise and
      shared universe centered on a series of superhero films produced by Marvel
      Studios. The films are based on characters that appear in American comic
      books published by Marvel Comics. The franchise also includes television
      series, short films, digital series, and literature. The shared universe,
      much like the original Marvel Universe in comic books, was established by
      crossing over common plot elements, settings, cast, and characters.
    </p>

    <p class="home-container__text">
      The Marvel Cinematic Universe (MCU) is an American media franchise and
      shared universe centered on a series of superhero films produced by Marvel
      Studios. The films are based on characters that appear in American comic
      books published by Marvel Comics. The franchise also includes television
      series, short films, digital series, and literature. The shared universe,
      much like the original Marvel Universe in comic books, was established by
      crossing over common plot elements, settings, cast, and characters.
    </p>
    <p class="home-container__text">
      Marvel Television expanded the universe to network television with Agents
      of S.H.I.E.L.D. on ABC in 2013 before further expanding to streaming
      television on Netflix and Hulu and to cable television on Freeform. They
      also produced the digital series Agents of S.H.I.E.L.D.: Slingshot. Marvel
      Studios began producing their own television series for streaming on
      Disney+, starting with WandaVision in 2021 as the beginning of Phase Four.
      The MCU also includes tie-in comics published by Marvel Comics, a series
      of direct-to-video short films called Marvel One-Shots, and viral
      marketing campaigns for the films featuring the faux news programs WHIH
      Newsfront and TheDailyBugle.net.
    </p>
    <p class="home-container__text">
      The franchise has been commercially successful and has generally received
      positive reviews. It has inspired other film and television studios to
      attempt to create similar shared universes with comic book character
      adaptations. The MCU has also inspired several themed attractions, an art
      exhibit, two television specials, guidebooks for each film, multiple
      tie-in video games, and commercials.
    </p>
  </div>
</div>
