@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
  background-color: #0a161a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Bebas Neue', cursive;
  height: 15vh;

  padding: 8px;
  &__Up {
    margin-left: 1%;
    width: 12%;
    cursor: pointer;

      &__logo {
        color: white;
        width: 100%;
      }
  }

  &__nav {
      display: flex;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      margin-left: 22%;

      &__link {
          margin-left: 25px;
          margin-right: 25px;
          cursor: pointer;
          text-decoration: none;
          color: #fff8d7;
          &:hover {
              color: rgb(255, 61, 61);
              cursor: pointer;
              /*text-decoration: underline;*/
          }
          // &:active {
          //     color: red;
          // }
      }
  }
}

.active-link {
  color: yellow;
}
