<section class="my-account">
  <div class="my-account__container">
    <h2 class="my-account__container__title">User Profile</h2>
    <div class="my-account__container__userInfo">
      <p class="my-account__container__userInfo__text">
        <span class="my-account__container__userInfo__text--span">Name: </span>
        {{ this.user?.name }}
      </p>
      <p class="my-account__container__userInfo__text">
        <span class="my-account__container__userInfo__text--span">Email: </span>
        {{ this.user?.email }}
      </p>
      <p class="my-account__container__userInfo__text">
        <span class="my-account__container__userInfo__text--span">Hero: </span>
        {{ this.user?.hero }}
      </p>
    </div>
  </div>
  <button class="my-account__button" (click)="logout()">
    Logout!
  </button>
</section>
