.form {
  height: 51vh;
  margin-top: 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 1%;
  padding-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-color: rgb(192, 192, 192);

  &__title {
    margin-top: 1%;
    text-transform: uppercase;
  }

  &__input {
      padding: 4px;
      height: 24px;
      border: 3px solid rgba(191, 0, 0, 0.807);
      border-radius: 10px;
      font-size: 20px;
      //width: 100%;
  }

  &__select {
      height: 32px;
      width: 100%;
      border: 3px solid rgba(191, 0, 0, 0.807);
      border-radius: 10px
  }

  &__button {
      display: block;
      margin-top: 2%;
      padding: 8px 12px;
      width: 160px;
      border-radius: 25px;
      border: none;
      color: white;
      background-color: rgb(0, 138, 32);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      align-self: center;
      justify-self: center;
      cursor:pointer;

      &:hover:not(:disabled) {
          opacity: 0.7;
      }

      &:disabled {
          background-color: rgba(135, 134, 134, 0.797);
          cursor: no-drop;
      }
  }
}

.field-container {
  display: block;
  flex: 45%;
  margin-bottom: 15px;
  //margin-right: 30px;
  align-self: center;
  justify-self: center;

}

.input-error {
  color: rgb(185, 62, 62);
  font-weight: bold;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

  }
}
