<form
  *ngIf="createHeroForm"
  [formGroup]="createHeroForm"
  (submit)="saveHero($event)"
  class="form"
>
  <div class="form__title">
    <h2>{{ hero ? "Edit hero" : "Create your own hero" }}</h2>
  </div>

  <div class="field-container">
    <input class="form__input" placeholder="Real Name" formControlName="name" />
    <p
      *ngIf="
        !createHeroForm.get('name')?.valid && createHeroForm.get('name')?.dirty
      "
      class="input-error"
    >
      Field requiered
    </p>
  </div>

  <div class="field-container">
    <input
      class="form__input"
      placeholder="Hero's Name"
      formControlName="hero"
    />
    <p
      *ngIf="
        !createHeroForm.get('hero')?.valid && createHeroForm.get('hero')?.dirty
      "
      class="input-error"
    >
      Field requiered
    </p>
  </div>

  <div class="field-container">
    <!-- <input
      class="form__input"
      placeholder="Hero's Rating (1-5)"
      formControlName="rating"
    /> -->
    <div class="rating-container">
      <span class="rating-container__span">Hero's rating</span>
      <select class="form__select" formControlName="rating">
        <option disabled selected="selected">Choose hero's rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <p
      *ngIf="!createHeroForm.get('rating')?.valid
     && createHeroForm.get('rating')?.dirty
     && createHeroForm.get('rating')?.errors?.['required'] "
      class="input-error"
    >
      Field requiered
    </p>
    <p
      *ngIf="!createHeroForm.get('rating')?.valid
            && createHeroForm.get('rating')?.dirty
            && createHeroForm.get('rating')?.errors?.['maxlength']"
      class="input-error"
    >
      This value exceeds the maximun price length
    </p>
  </div>

  <div class="field-container">
    <input
      class="form__input"
      placeholder="Hero's Image URL"
      formControlName="img"
    />
    <p
      *ngIf="
        !createHeroForm.get('hero')?.valid && createHeroForm.get('img')?.dirty
      "
      class="input-error"
    >
      Field requiered
    </p>
  </div>

  <button class="form__button" type="submit" [disabled]="!createHeroForm.valid">
    {{ hero ? "Edit" : "Create" }}
  </button>
</form>
